.team {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100%;
  background: var(--background_first);
}

@media (min-width: 650px) {
  .team {
    background: var(--background_second);
  }
}